/********** Template CSS **********/
:root {
    --primary: #4294E3;
    --secondary: #8F12FD;
    --light: #F0F6FF;
    --dark: #262B47;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

body{
    background: #000022 !important;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

/*** Heading ***/
h1,
h2,
.fw-bold {
    font-weight: 700 !important;
}

h3,
h4,
.fw-semi-bold {
    font-weight: 600 !important;
}

h5,
h6,
.fw-medium {
    font-weight: 500 !important;
}


/*** Gradient Text & BG ***/
.text-primary-gradient {
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-secondary-gradient {
    background: linear-gradient(to bottom right, var(--secondary), var(--primary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-primary-gradient {
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
}

.bg-secondary-gradient {
    background: linear-gradient(to bottom right, var(--secondary), var(--primary));
}


/*** Button ***/
.btn {
    transition: .5s;
}

.btn.btn-primary-gradient,
.btn.btn-secondary-gradient {
    position: relative;
    overflow: hidden;
    border: none;
    color: #FFFFFF;
    z-index: 1;
}

.btn.btn-primary-gradient::after,
.btn.btn-secondary-gradient::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
    z-index: -1;
    opacity: 0;
}

.btn.btn-primary-gradient,
.btn.btn-secondary-gradient::after {
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
}

.btn.btn-secondary-gradient,
.btn.btn-primary-gradient::after {
    background: linear-gradient(to bottom right, var(--secondary), var(--primary));
}

.btn.btn-primary-gradient:hover::after,
.btn.btn-secondary-gradient:hover::after {
    opacity: 1;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
    border: none;
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
}


/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    position: relative;
    margin-right: 25px;
    padding: 25px 0;
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: var(--light) !important;
    outline: none;
    transition: .5s;
}

.navbar-light .navbar-nav .nav-link::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid;
    border-color: var(--light) transparent transparent transparent;
    transition: .5s;
    border-top-color: #999999;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover::before,
.navbar-light .navbar-nav .nav-link.active::before {
    top: 0;
}

.navbar-light .navbar-brand h1 {
    color: #FFFFFF;
}

.navbar-light .navbar-brand img {
    max-height: 70px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 60px;
}
.text-field {
    margin: -7px auto;
}

.text-field h1{
    text-align: center;
    font-size: 3.5rem !important;
        font-family: 'UTM Eremitage';
        font-style: normal;
        font-weight: 400;
        font-size: 80px;
        line-height: 103px;
        /* identical to box height */
    
        letter-spacing: 0.02em;
    
        background: linear-gradient(91.06deg, #FF1CF7 30%, #00F0FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
}
.text-field h6 {
    text-align: center;
    font-family: 'UTM Avo';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.72px;
    color: #FFFFFF;
    margin-top: -25px;
}
.text-field a{
   display: flex;
   justify-content: center;
}
.button-1 {
cursor: pointer;
    background: transparent;
    border: 2px solid #cc5333;
    position: relative;
    z-index: 111111;
    padding: 9px 25px !important;
}

.button-1:hover {
    background: linear-gradient(#009fff,
            #ec2f4b);
    border: 2px solid #cc5333;
}

.text-field__3 {
    position: absolute;
        width: 28%;
        height: 28%;
        left: 89px;
        top: 179px;
        background: #8593E8;
        opacity: 0.7;
        filter: blur(200px);

}

.text-field__6 {
        position: absolute;
            width: 40%;
            height: 30%;
            left: 423px;
            top: 63px;
            background: #5D6EF3;
            opacity: 0.7;
            filter: blur(250px);
        }

.text-field__1 {
    position: absolute;
        width: 28%;
        height: 28%;
        top: 179px;
        background: #FC4FF6;
        opacity: 0.7;
        filter: blur(200px);
        right: 10%;
    }
    .field__img {
        display: flex;
        justify-content: center;
        margin-top: -70px;
        position: relative;
    }
        .field__button {
            width: 100%;
            height: 100%;
        }
@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--dark) !important;
    }

    .navbar-light .navbar-nav .nav-link::before {
        display: none;
    }

    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link.active {
        color: var(--primary) !important;
    }

    .navbar-light .navbar-brand h1 {
        background: linear-gradient(to bottom right, var(--primary), var(--secondary));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999999999999;
    }
    
    .sticky-top.navbar-light {
        position: fixed;
        background: #FFFFFF;
    }

    .sticky-top.navbar-light .navbar-nav .nav-link::before {
        border-top-color: var(--primary);
    }

    .sticky-top.navbar-light .navbar-brand h1 {
        background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    }
}


/*** Hero Header ***/
.hero-header {
    margin-bottom: 4rem;
    padding: 8rem 0 0 0;
    text-align: center;
}


@media (max-width: 991.98px) {
    .hero-header {
        padding: 6rem 0 9rem 0;
    }
}


/*** Project ***/
.project-img .project-img__one{
    width: 110%;
}
.project-text1{
font-family: 'UTM Eremitage';
    background: linear-gradient(91.06deg, #FF1CF7 2.26%, #00F0FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
}
.project-img{
    position: relative;
}
.project-text2 {
    margin-bottom: 0.5rem !important;
}

.project-img__two{
position: absolute;
    left: -100px;
    top: -110px;
    opacity: 0.6;
    width: 100%;

}
.project-img__right{
    position: relative;
}
.project-img__three {
    position: absolute;
        right: -19px;
        top: -154px;
        opacity: 0.6;
        width: 95%;

}

/* service */
.project-img2{
    position: relative;
}
.project-img2 .project-img__four{
    width: 100%;
    height: 100%;
}
.project-img__five{
    position: absolute;
        right: -47px;
        top: -124px;
        opacity: 1;
        width: 108%;
}

/* Train */
.project-img__train{
    position: relative;
}
/* .project-img__train .project-img__six{
    width: 100%;
        height: 100%;
} */

.project-img__six {
    position: absolute;
        right: -47px;
        top: -124px;
        opacity: 0.7;
        width: 108%;
}
/*** Pricing ***/



/*** Footer ***/
.footer {
    margin-top: 6rem;
    padding-top: 9rem;
    background:
        url(../img/footer.png),
        linear-gradient(to bottom right,#355c7d,
            #6c5b7b,
            #c06c84);

    background-repeat: no-repeat;
    height: 100%;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(256, 256, 256, .1);
    border-radius: 40px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: var(--light);
    font-weight: normal;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 14px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}